
/* стили, специфичные для приложения */
main {
    min-height: 80vh;
}

/* ширина в 45% */
.w-45 {
    width: 45%;
}

/* ширина в 90% */
.w-90 {
    width: 90%;
}


.w-15rem {
    width: 15rem;
}

.w-10rem {
    width: 10rem;
}
