body {
    font-family: Tahoma, sans-serif;
    font-size: 12pt;
}

table {
    width: 80%;
    border-collapse: collapse;
    border-spacing: 5px;
    border: 1px solid black;
    margin: 20px 22pt;
    empty-cells: show;
}

td, th{
    border: 1px solid black;
    font-family: Tahoma, serif;
    font-size: 12pt;
    padding: 5px 10px;
}

td {
    text-align: right;
}

/* для полосатой таблицы */
tr:nth-of-type(2n) {
    background-color: lavender;
}

label, input[type="button"] {
    display: inline-block;
    width: 190px;
}

label, input[type="text"] {
    margin-bottom: 12px;
}